.header__user-info {
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    margin: 51px 24px 46px 0;
}

@media screen and (max-width:940px) {
    .header__user-info {
        margin: 39px 24px 31.6px auto;
    }
}

@media screen and (max-width:320px) {
    .header__user-info {
        height: 17px;
        margin: 34px 30px 33px 0;
        font-size: 14px;
        line-height: 17px;
    }
}